numpy
peft
sentencepiece
gradio
fastapi
uvicorn
wandb
markdown2[all]
requests
prompt_toolkit
rich
torch<=2.0.1
scipy
packaging
sentencepiece
datasets
deepspeed>=0.10.0
accelerate>=0.21.0,<0.23.0 
peft>=0.4.0
bitsandbytes>=0.41.1
evaluate>=0.4.0
tokenizers>=0.13.3
protobuf
openai<=0.28.1
tiktoken
rouge_score
tensorboard
wandb
gradio==3.50.2
termcolor
jsonlines
unidic-lite
einops
flash-attn==2.2.2
auto-gptq
fire
alpaca-eval==0.3.1
jsonlines